<a href="https://colab.research.google.com/github/DEXTH3R/Juego_Python/blob/master/Estadistica_udemy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
!pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: yfinance in /usr/local/lib/python3.9/dist-packages (0.2.13)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.9/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /usr/local/lib/python3.9/dist-packages (from yfinance) (4.11.2)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.9/dist-packages (from yfinance) (2.27.1)
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.9/dist-packages (from yfinance) (4.9.2)
Requirement already satisfied: frozendict>=2.3.4 in /usr/local/lib/python3.9/dist-packages (from yfinance) (2.3.6)
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.9/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.9/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.9/dist-packages (from yfinance) (1.22.4)
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.9/dist-packages (from yfinance) (2022.7.1)
Requirement already satisfied: html5lib>=1.1 in /usr/local/lib/python3.9/dist-packages (from yfinance) (1.1)
Requirement already satisfied: cryptography>=3.3.2 in /usr/local/lib/python3.9/dist-packages (from yfinance) (39.0.2)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.9/dist-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.9/dist-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.9/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.9/dist-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26->yfinance) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26->yfinance) (1.26.15)
Requirement already satisfied: pycparser in /usr/local/lib/python3.9/dist-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)

In [16]:
import numpy as np
import pandas as pd
import yfinance as yf
from scipy.stats import skew, kurtosis

In [18]:
df = yf.download("GOOG")["Adj Close"].pct_change(1).dropna()
df

[*********************100%***********************]  1 of 1 completed

Date
2004-08-20    0.079430
2004-08-23    0.010064
2004-08-24   -0.041408
2004-08-25    0.010775
2004-08-26    0.018019
                ...
2023-03-23    0.019574
2023-03-24   -0.001882
2023-03-27   -0.028286
2023-03-28   -0.016495
2023-03-29    0.006117
Name: Adj Close, Length: 4684, dtype: float64

mean o la media
```
# Esto tiene formato de código
```

In [22]:
# Mean whit numpy
mean = np.mean(df, axis=0) * 100
print(f"Daily Mean: {'%.2f' % mean} %")

#annualization of the mean return
annual_mean = mean * 252
print(f"Mean Annual: {'%.2f' % annual_mean} %")

#day mean return --> monthly mean return
monthly_mean= mean * 21
print(f"Monthly Mean: {'%.2f' % monthly_mean} %")

Daily Mean: 0.10 %
Mean Annual: 24.69 %
Monthly Mean: 2.06 %

In [23]:
median = np.median(df, axis=0) * 100
print(f"Daily Median: {'%.2f'% median} %")

Daily Median: 0.07 %

In [25]:
#percentiles whit numpy
percentile_10 = np.quantile(df,0.10, axis=0) * 100
print(f"Percentile 10%: {'%.2f' % percentile_10} %")

percentile_50 = np.quantile(df,0.50, axis=0) * 100
print(f"Percentile 50%: {'%.2f' % percentile_50} %")

percentile_99 = np.quantile(df,0.99, axis=0) * 100
print(f"Percentile 99%: {'%.2f' % percentile_99} %")

Percentile 10%: -1.94 %
Percentile 50%: 0.07 %
Percentile 99%: 5.74 %

In [27]:
# variance whit numpy
var = np.var(df,axis=0)*100
print(f"Daily Variance: {'%.2f' % var} %")

Daily Variance: 0.04 %

In [28]:
#Standard Desviation whit numpy
#annualitation var: var_annualy = var dialy *252
#Annualitation std: sqrt(var_annualy) = sqrt(var dialy * 252) = sqrt(var_dialy) * sqrt(252)
#and sqrt(var) = sqrt

std = np.std(df, axis=0)*100
print(f"Daily Volatility: {'%.2f' % std} %")

#Annualitation of the mean return
annual_std = std * np.sqrt(252)
print(f"Year Volatility: {'%.2f' % annual_std} %")

# day mean return --> monthly mean return
monthly_std = std * np.sqrt(21)
print(f"Monthly Volatility: {'%.2f' % monthly_std}")

Daily Volatility: 1.95 %
Year Volatility: 30.88 %
Monthly Volatility: 8.91

In [35]:
#import several assets
df = yf.download(["GOOG","EURUSD=X","MSFT","AMZN","TSLA"])["Adj Close"].pct_change(1).dropna()
df

[*********************100%***********************]  5 of 5 completed

                AMZN  EURUSD=X      GOOG      MSFT      TSLA
Date
2010-06-30  0.005985  0.003584 -0.020495 -0.012870 -0.002511
2010-07-01  0.015559  0.022689 -0.012271  0.006519 -0.078473
2010-07-02 -0.016402  0.005079 -0.006690  0.004750 -0.125683
2010-07-05  0.000000 -0.002708  0.000000  0.000000  0.000000
2010-07-06  0.008430  0.006943 -0.001100  0.023636 -0.160937
...              ...       ...       ...       ...       ...
2023-03-23  0.000101  0.008925  0.019574  0.019722  0.005598
2023-03-24 -0.005876 -0.003251 -0.001882  0.010480 -0.009416
2023-03-27 -0.000917 -0.005249 -0.028286 -0.014934  0.007353
2023-03-28 -0.008160  0.002680 -0.016495 -0.004161 -0.013659
2023-03-29  0.030954  0.003492  0.005328  0.019184  0.024790

[3326 rows x 5 columns]

In [40]:
#VARIANCE COVARIANCE MATRIX
mat = np.cov(df, rowvar=False)
pd.DataFrame(mat, columns=df.columns, index=df.columns)

              AMZN      EURUSD=X          GOOG          MSFT      TSLA
AMZN      0.000419  3.481830e-06  2.092794e-04  1.878797e-04  0.000257
EURUSD=X  0.000003  2.972213e-05 -8.108280e-07 -6.973998e-07 -0.000003
GOOG      0.000209 -8.108280e-07  2.858449e-04  1.794852e-04  0.000201
MSFT      0.000188 -6.973998e-07  1.794852e-04  2.619817e-04  0.000203
TSLA      0.000257 -2.855273e-06  2.006078e-04  2.032894e-04  0.001261

In [ ]:
#covariance